<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="sampleModel.SampleModelOperation">
      <operation
            class="sampleoperation1.AddNumbersOperation"
            label="Add Numbers">         
         <applicable>
            <and>
               <count
                     value="(1-">
               </count>
               <reference
                     definitionId="sampleModel.allNumeric">
               </reference>
            </and>
      	</applicable>
      </operation>
      <operation
            class="sampleoperation1.ConcatenateObjectsOperation"
            label="Operate on 2 numbers and 1 string">
         <applicable>
           <test
               property="sampleModel.2numbers1string"
               value="true">
         	</test>
         </applicable>
      </operation>
      <operation
            class="sampleoperation1.ConcatenateObjectsOperation"
            label="Operate on non-numeric selection">
         <applicable>
            <reference
                  definitionId="sampleModel.noNumbers">
            </reference>
         </applicable>
      </operation>
      <operation
            class="sampleoperation1.SubtractNumbersOperation"
            inputPermutator="samplemodel.EachElementVersusTheRest"
            label="Subtract"
            permutationLabel="{1} from {0}">
         <applicable>
            <and>
               <count
                     value="2">
               </count>
               <reference
                     definitionId="sampleModel.allNumeric">
               </reference>
            </and>
         </applicable>
      </operation>
      <operation
            class="sampleoperation1.DistanceFromOperation"
            inputPermutator="samplemodel.EachElementVersusTheRest"
            label="Distance"
            permutationLabel="from {0}">
         <applicable>
            <and>
               <count
                     value="(1-">
               </count>
               <reference
                     definitionId="sampleModel.allNumeric">
               </reference>
            </and>
         </applicable>
      </operation>
   </extension>

</plugin>
