<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="sampleModel.SampleModelOperation">
      <operation
            library="sampleModel.operations.arithmetic"
            class="sampleoperation1.AddNumbersOperation"
            label="Add Numbers">         
         <applicable>
            <and failMessage="Selection should contain 1 or more numeric items">
               <count
                     value="(1-" failMessage="Selection should contain 1 or more items">
               </count>
               <reference
                     definitionId="sampleModel.allNumeric">
               </reference>
            </and>
      	</applicable>
         <documentation>
            Add numbers operation. Some &lt;b&gt;html&lt;/b&gt; tags.
         </documentation>
      </operation>
      <operation
            class="sampleoperation1.ConcatenateObjectsOperation"
            label="Operate on 2 numbers and 1 string">
         <applicable>
           <test
               property="sampleModel.2numbers1string"
               value="true"
               failMessage="Selection should contain 2 numbers and 1 string">
         	</test>
         </applicable>
         <documentation>
            Concatenates objects. Acts on two numeric and one string values.
         </documentation>
      </operation>
      <operation
            class="sampleoperation1.ConcatenateObjectsOperation" label="Operate on non-numeric selection">            
         <applicable>
            <reference
                  definitionId="sampleModel.noNumbers">
            </reference>
         </applicable>
         <documentation>
            Concatenates non numeric objects.
         </documentation>
      </operation>
      <operation
            class="sampleoperation1.SubtractNumbersOperation"
            inputPermutator="samplemodel.EachElementVersusTheRest"
            label="Subtract"
            library="sampleModel.operations.arithmetic"
            permutationLabel="{1} from {0}">
         <applicable>
            <and failMessage="Selection should contain 2 numeric items">
               <count
                     value="2" failMessage="Selection should contain 2 items">
               </count>
               <reference
                     definitionId="sampleModel.allNumeric">
               </reference>
            </and>
         </applicable>
         <documentation>
            Subtract numbers operation.
         </documentation>
      </operation>
      <operation
            class="sampleoperation1.DistanceFromOperation"
            inputPermutator="samplemodel.EachElementVersusTheRest"
            label="Distance"
            library="sampleOperation1.arithmetic.sublibrary"
            permutationLabel="from {0}">
         <applicable>
            <and failMessage="Selection should contain 1 or more numeric items">
               <count
                     value="(1-" failMessage="Selection should contain 1 or more items">
               </count>
               <reference
                     definitionId="sampleModel.allNumeric">
               </reference>
            </and>
         </applicable>
         <documentation>
            Calculates distance (difference) between numbers.
         </documentation>
      </operation>
      <library
            id="sampleOperation1.arithmetic.sublibrary"
            name="Sublibrary Sample"
            parentLibrary="sampleModel.operations.arithmetic">
         <documentation>
            documentation body text
         </documentation>
      </library>
   </extension>

</plugin>
