<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="sampleModel.SampleModelOperation">
      <operation
            class="sampleoperation2.ConcatenateStringsOperation"
            label="Concatenate Strings"
            library="sampleModel.operations.string">         
         <applicable>
            <and failMessage="Selection should contain 1 or more string items">
               <count
                     value="(1-" failMessage="Selection should contain 1 or more items">
               </count>
               <reference
                     definitionId="sampleModel.allString">
               </reference>
            </and>
      	</applicable>
         <documentation>
            Concatenates string objects.
         </documentation>
      </operation>
   </extension>

</plugin>
