<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="SampleModelOperation" name="SampleModelOperation" schema="schema/sampleModel.operation.exsd"/>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="sampleModel.allNumeric">
        <iterate
                  operator="and">
               <instanceof
                     value="samplemodel.SampleModel">
               </instanceof>
               <test
                     property="sampleModel.numeric"
                     value="true">
               </test>
            </iterate>
      </definition>
      <definition
            id="sampleModel.allString">
         <iterate
               operator="and">
            <instanceof
                  value="samplemodel.SampleModel">
            </instanceof>
            <test
                  property="sampleModel.numeric"
                  value="false">
            </test>
         </iterate>
      </definition>
      <definition
            id="sampleModel.noNumbers">
         <iterate
               ifEmpty="false"
               operator="and">
            <or>
               <not>
                  <instanceof
                        value="samplemodel.SampleModel">
                  </instanceof>
               </not>
               <test
                     property="sampleModel.numeric"
                     value="false">
               </test>
            </or>
         </iterate>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="samplemodel.SampleModelNumericPropertyTester"
            id="SampleModelNumericPropertyTester"
            namespace="sampleModel"
            properties="numeric"
            type="samplemodel.SampleModel">
      </propertyTester>
      <propertyTester
            class="samplemodel.SampleModelExactCombinationPropertyTester"
            id="SampleModelExactCombinationPropertyTester"
            namespace="sampleModel"
            properties="2numbers1string"
            type="org.eclipse.jface.viewers.StructuredSelection">
      </propertyTester>
   </extension>
   <extension
         point="sampleModel.SampleModelOperation">
      <library
            id="sampleModel.operations.arithmetic"
            name="Arithmetic operations">
         <documentation>
            A container for arithmetic operations
         </documentation>
      </library>
      <library
            id="sampleModel.operations.string"
            name="String operations">
         <documentation>
            documentation body text
         </documentation>
      </library>
   </extension>

</plugin>
