<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Limpet POC Category"
            id="limpetPOCView">
      </category>
      <view
            name="Limpet POC View"
            icon="icons/sample.gif"
            category="limpetPOCView"
            class="sampleview.views.SampleView"
            id="sampleview.views.SampleView">
      </view>
      <view
            category="limpetPOCView"
            class="sampleview.views.opsbrowser.OperationsBrowserView"
            icon="icons/sample.gif"
            id="sampleview.views.opsbrowser.OperationsBrowserView"
            name="Limpet POC Operations Browser">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="sampleview.views.SampleView">
         </view>
         <view
               id="sampleview.views.OperationsBrowserView"
               relationship="stack"
               relative="org.eclipse.ui.views.ContentOutline">
         </view>
         <view
               id="sampleview.views.OperationsBrowserView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ContentOutline">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
